@import '../abstract/variables';

nav {
    align-items: center;
    background-color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

.nav__logo {
    height: 2rem;
}

.nav__menu--icons {
    z-index: 200;
}

.nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0 0 30% 10%;
    position: absolute;
    right: 0;
    row-gap: 1.5rem;
    top: -100%;
    transition: ease .8s;
    width: 70%;
    z-index: 199;
}

.nav__ul--expanded {
    background-color: antiquewhite;
    top: 0;
}

.nav__ul li {
    list-style: none;
}

.nav__ul li a {
    color: $very-dark-blue;
    font-size: 1.5rem;
    text-decoration: none;
}