@import '../abstract/variables';

nav {
    align-items: center;
    background-color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

.nav__logo {
    height: 2rem;
}

.nav__menu--closed {
    display: none;
}