@import '../abstract/variables';


main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    min-height: 100vh;
    row-gap: 4rem;

    @media screen and (min-width: 1024px) {
        
    }
}

// First Section
.main__section--first {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    row-gap: 1rem;
    width: 90vw;

    grid-row: 1 / 2;

    @media screen and (min-width: 1024px) {
        
    }
}

.section__first--img,
.main__section--first h1,
.main__section--first p {
    width: 100%;
}

.section__first--img {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.section__first--imgDesktop {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
        width: 100%;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;

    @media screen and (min-width: 1024px) {
        
    }
}

.main__section--first p {
    line-height: 1.5rem;

    @media screen and (min-width: 1024px) {
        color: $dark-grayish-blue;
        
    }
}

.main__section--first span {
    align-self: flex-start;
    background-color: $soft-red;
    border-radius: .2rem;
    color: $off-white;
    font-weight: 700;
    letter-spacing: .3rem;
    padding: 1rem 2rem;
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
        
    }
}


// Second Section
.main__section--second {
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 32rem;
    padding: 1rem;
    row-gap: 2rem;
    width: 90%;

    grid-row: 2 / 3;

    @media screen and (min-width: 1024px) {
        margin: 0;
    }
}

.main__section--second h2 {
    color: $soft-orange;
    font-size: 2rem;
}

.main__section--second section {
    border-bottom: 1px solid $grayish-blue;
}

.main__section--second section:nth-last-child(1) {
    border-bottom: none;
}

.main__section--second section h3 {
    color: $off-white;
    margin-bottom: .5rem;
}

.main__section--second section p {
    color: $grayish-blue;
    line-height: 1.5rem;
}

.new__section--one p,
.new__section--two p {
    padding-bottom: 2rem;
}


// Third Section

.main__section--third {
    grid-row: 3 / 4;
    width: 90%;

    @media screen and (min-width: 1024px) {
        
    }
}
.main__section--third section {
    display: flex;
    column-gap: .8rem;
    margin-bottom: 2rem;
    max-width: 32rem;
}

.main__section--third img {
    width: 31%;
}

.text__container {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}

.text__container span {
    color: $grayish-blue;
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.texts h3 {
    margin-bottom: .8rem;
}

.texts p {
    color: $dark-grayish-blue;
    line-height: 1.5rem;
}