@import '../abstract/variables';


.main__section--second {
    background-color: $very-dark-blue;
    max-width: 32rem;
    padding: 1.5rem;
    width: 90%;

    @media screen and (min-width: 1024px) {
        width: 19rem;
    }
}

.main__section--second h2 {
    color: $soft-orange;
    font-size: 2rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 1024px) {
        // font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.main__section--second section {
    border-bottom: 1px solid $grayish-blue;
    margin-bottom: 2rem;

    @media screen and (min-width: 1024px) {
        margin-bottom: 1.5rem;
    }
}

.main__section--second section:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 0;
}

.main__section--second section h3 {
    color: $off-white;
    margin-bottom: .5rem;

    @media screen and (min-width: 1024px) {
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }
}

.main__section--second section p {
    color: $grayish-blue;
    line-height: 1.5rem;

    @media screen and (min-width: 1024px) {
        font-size: .8rem;
        line-height: 1.2rem;
    }
}

.new__section--one p,
.new__section--two p {
    padding-bottom: 2rem;

    @media screen and (min-width: 1024px) {
        padding-bottom: 1.5rem;
    }
}