@import '../abstract/variables';


.main__section--third {
    max-width: 32rem;
    width: 90%;

    @media screen and (min-width: 1024px) {
        column-gap: 1rem;
        display: flex;
        grid-area: third;
        height: auto;
        justify-content: space-evenly;
        width: 100%;
    }

    @media screen and (min-width: 1440px){
        max-width: none;
        width: 75rem;
    }
}

.main__section--third section {
    display: flex;
    column-gap: .8rem;
    margin-bottom: 2rem;
    max-width: 32rem;

    @media screen and (min-width: 1440px){
        width: 25rem;
    }
}

.main__section--third img {
    width: 31%;

    @media screen and (min-width: 1024px) {
        height: 35%;
        width: auto;
    }

    @media screen and (min-width: 1440px){
        height: 55%;
    }
}

.text__container {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;

    @media screen and (min-width: 1024px) {
        row-gap: .3rem;
    }

    @media screen and (min-width: 1440px){
        row-gap: .8rem;
    }
}

.text__container span {
    color: $grayish-blue;
    display: block;
    font-size: 2rem;
    font-weight: 800;

    @media screen and (min-width: 1024px) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1440px){
        font-size: 2rem;
    }
}

.texts h3 {
    font-weight: 800;
    margin-bottom: .8rem;

    @media screen and (min-width: 1024px) {
        font-size: .8rem;
        margin-bottom: .3rem;

        &:hover {
            color: $soft-red;
            cursor: pointer;
            transition: .5s ease;
        }
    }

    @media screen and (min-width: 1440px){
        font-size: 1.3rem;
        margin-bottom: .8rem;
    }
}

.texts p {
    color: $dark-grayish-blue;
    line-height: 1.5rem;

    @media screen and (min-width: 1024px) {
        font-size: .7rem;
        line-height: 1.2rem;
    }

    @media screen and (min-width: 1440px){
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}