@import '../styles/abstract/variables';
@import '../styles/components/header';
@import '../styles/components/main';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}