@import '../styles/abstract/variables';
@import '../styles/components/header';
@import '../styles/components/main';
@import '../styles/components/firstSection';
@import '../styles/components/secondSection';
@import '../styles/components/thirdSection';
@import './components/footer';

* {
    box-sizing: border-box;
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

body {
    background-color: $off-white;
}

.main__menu--expanded {
    left: 50%;
    position: fixed;
    transform: translate(-50%);
}